body{
    background-color: darkred;
    background-image: url("image 3.jpg");
    background-position: center;
    background-repeat: repeat;
    color: beige;
}

h1{
    color: burlywood;
    background-color: darkslategrey;
    font: italic 200% fantasy;
    text-align: center;
    border: 3px groove #fff;
    width: fit-content;
    padding: 10px;
}

h2{
    color: tan;
    background-color: teal;
    width: fit-content;
    padding: 5px;
}

h3{
    color: wheat;
    background-color: seagreen;
    width: fit-content;
    padding: 10px;
}

h4{
    color: linen;
    background-color: olivedrab;
    width: fit-content;
    padding: 10px;
}

img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

a{
    background-color: olive;
    color: seashell;
    padding: 5px;
    text-decoration: none;
    font-weight: 1000;
    font-family: sans-serif;
    font-style: normal;
    border-radius: 5px;
}

a:hover {
    background-color: sienna;
    color: black;
    padding: 10px;
}

table{
    background-color: cadetblue;
    color: cornsilk;
    padding: 10px;
    width: 500px;
}